@charset "ISO-8859-1";
th{
	font-size:25px;
}
td{
	font-size:20px;
}
.style{
	color:white;
	border-radius:10px;
	padding:20px;
	padding-bottom:0px;
}
.style_1{
	position:absolute;
	top:33px;
}